USE [ConsumerAssociationDB]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] DROP CONSTRAINT [FK_PUR_PURCHASE_INV_DETAILS_PUR_PURCHASE_INV]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] DROP CONSTRAINT [FK_PUR_PURCHASE_INV_DETAILS_GEN_ITEM]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] DROP CONSTRAINT [FK_PUR_PURCHASE_INV_PUR_PURCHASE_INV]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] DROP CONSTRAINT [FK_PUR_PURCHASE_INV_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] DROP CONSTRAINT [FK_PUR_PURCHASE_INV_GEN_LOCATION]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_LOCATION] DROP CONSTRAINT [FK_PUR_PROMOTION_LOCATION_PUR_PROMOTION]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_LOCATION] DROP CONSTRAINT [FK_PUR_PROMOTION_LOCATION_GEN_LOCATION]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] DROP CONSTRAINT [FK_PUR_PROMOTION_DETAILS_PUR_PROMOTION]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] DROP CONSTRAINT [FK_PUR_PROMOTION_DETAILS_GEN_ITEM]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_GROUP] DROP CONSTRAINT [FK_LST_SUPPLIER_GROUP_LST_SUPPLIER_GROUP]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] DROP CONSTRAINT [FK_INV_RECEIPT_DETAILS_INV_RECEIPT1]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] DROP CONSTRAINT [FK_INV_RECEIPT_DETAILS_INV_RECEIPT]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] DROP CONSTRAINT [FK_INV_RECEIPT_DETAILS_GEN_ITEM]
GO
ALTER TABLE [dbo].[INV_RECEIPT] DROP CONSTRAINT [FK_INV_RECEIPT_PUR_PURCHASE_INV]
GO
ALTER TABLE [dbo].[INV_RECEIPT] DROP CONSTRAINT [FK_INV_RECEIPT_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[INV_RECEIPT] DROP CONSTRAINT [FK_INV_RECEIPT_GEN_LOCATION]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] DROP CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_SPECIFY_GEN_SUPPLIER_SECTOR]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] DROP CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_SPECIFY_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR] DROP CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE] DROP CONSTRAINT [FK_GEN_SUPPLIER_PHONE_LST_PHONE_TYPE]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE] DROP CONSTRAINT [FK_GEN_SUPPLIER_PHONE_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT] DROP CONSTRAINT [FK_GEN_SUPPLIER_DOCUMENT_LST_SUPPLIER_DOCUMENT_TYPE]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT] DROP CONSTRAINT [FK_GEN_SUPPLIER_DOCUMENT_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [FK_GEN_SUPPLIER_LST_SUPPLIER_TYPE]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [FK_GEN_SUPPLIER_LST_SUPPLIER_GROUP]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [FK_GEN_SUPPLIER_GEN_BANK]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [FK_GEN_SUPPLIER_GEN_ASSISTANT_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [FK_GEN_LOCATION_LST_LOCATION_TYPE]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] DROP CONSTRAINT [FK_GEN_ITEM_UNIT_GEN_UNIT]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] DROP CONSTRAINT [FK_GEN_ITEM_UNIT_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] DROP CONSTRAINT [FK_GEN_ITEM_LOCATION_GEN_LOCATION]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] DROP CONSTRAINT [FK_GEN_ITEM_LOCATION_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM_GENERALIZATION] DROP CONSTRAINT [FK_GEN_ITEM_GENERALIZATION_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM_CATEGORY] DROP CONSTRAINT [FK_GEN_ITEM_Category_GEN_ITEM_Category]
GO
ALTER TABLE [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] DROP CONSTRAINT [FK_GEN_ITEM_ALLOWED_TRANSACTION_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [FK_GEN_ITEM_LST_COUNTRY]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [FK_GEN_ITEM_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [FK_GEN_ITEM_GEN_ITEM_Category]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [FK_GEN_ITEM_GEN_BRAND]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] DROP CONSTRAINT [DF_PUR_PURCHASE_INV_DETAILS_IsActive]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] DROP CONSTRAINT [DF_PUR_PURCHASE_INV_DETAILS_Main_Price]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] DROP CONSTRAINT [DF_PUR_PURCHASE_INV_DETAILS_Main_Cost]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] DROP CONSTRAINT [DF_PUR_PURCHASE_INV_IsActive]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] DROP CONSTRAINT [DF_PUR_PURCHASE_INV_IsApproved]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] DROP CONSTRAINT [DF_PUR_PROMOTION_DETAILS_IsActive]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] DROP CONSTRAINT [DF_PUR_PROMOTION_DETAILS_IsItemStoped]
GO
ALTER TABLE [dbo].[PUR_PROMOTION] DROP CONSTRAINT [DF_PUR_PROMOTION_IsActive]
GO
ALTER TABLE [dbo].[PUR_PROMOTION] DROP CONSTRAINT [DF_PUR_PROMOTION_PromotionPercentage]
GO
ALTER TABLE [dbo].[PUR_PROMOTION] DROP CONSTRAINT [DF_PUR_PROMOTION_IsStoped]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_TYPE] DROP CONSTRAINT [DF_SupplierTypes_IsActive]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_GROUP] DROP CONSTRAINT [DF_SupplierGroups_IsActive]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_GROUP] DROP CONSTRAINT [DF_SupplierGroups_Stopped]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] DROP CONSTRAINT [DF_LST_SUPPLIER_DOCUMENT_TYPE_IsActive]
GO
ALTER TABLE [dbo].[LST_LOCATION_TYPE] DROP CONSTRAINT [DF_LST_LOCATION_TYPE_IsActive]
GO
ALTER TABLE [dbo].[LST_COUNTRY] DROP CONSTRAINT [DF_LST_COUNTRY_IsActive]
GO
ALTER TABLE [dbo].[LST_CountriesCodes] DROP CONSTRAINT [DF_LST_CountriesCodes_currencyId]
GO
ALTER TABLE [dbo].[LST_CountriesCodes] DROP CONSTRAINT [DF_LST_CountriesCodes_isDefault]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] DROP CONSTRAINT [DF_INV_RECEIPT_DETAILS_IsActive]
GO
ALTER TABLE [dbo].[INV_RECEIPT] DROP CONSTRAINT [DF_INV_RECEIVE_IsActive]
GO
ALTER TABLE [dbo].[INV_RECEIPT] DROP CONSTRAINT [DF_INV_RECEIVE_ISAccountTransfer]
GO
ALTER TABLE [dbo].[INV_RECEIPT] DROP CONSTRAINT [DF_INV_RECEIVE_IsTransfer]
GO
ALTER TABLE [dbo].[INV_RECEIPT] DROP CONSTRAINT [DF_INV_RECEIVE_IsRecieveAll]
GO
ALTER TABLE [dbo].[GEN_UNIT] DROP CONSTRAINT [DF_GEN_UNIT_IsActive]
GO
ALTER TABLE [dbo].[GEN_UNIT] DROP CONSTRAINT [DF_GEN_UNIT_IsBlocked]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] DROP CONSTRAINT [DF_GEN_SUPPLIER_SECTOR_SPECIFY_IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR] DROP CONSTRAINT [DF_GEN_SUPPLIER_SECTOR_IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR] DROP CONSTRAINT [DF_GEN_SUPPLIER_SECTOR_IsBlocked]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE] DROP CONSTRAINT [DF_GEN_SUPPLIER_PHONE_IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT] DROP CONSTRAINT [DF_GEN_SUPPLIER_DOCUMENT_IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [DF_GEN_SUPPLIER_IsAllowCashingChecks]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [DF_GEN_SUPPLIER_IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedReturnDiscount]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedReturn]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedReceipt]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedPO]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] DROP CONSTRAINT [DF_GEN_SUPPLIER_IsBlocked]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [DF_GEN_LOCATION_IsActive]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [DF_GEN_LOCATION_DisplayOrder]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [DF_GEN_LOCATION_ZReadExtrasCode]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [DF_GEN_LOCATION_CustodyControlAccount]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [DF_GEN_LOCATION_Custody_Account]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [DF_GEN_LOCATION_IsDirectItemConnect]
GO
ALTER TABLE [dbo].[GEN_LOCATION] DROP CONSTRAINT [DF_GEN_LOCATION_PurCashCode]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] DROP CONSTRAINT [DF_GEN_ITEM_UNIT_IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] DROP CONSTRAINT [DF_GEN_ITEM_UNIT_IsBlocked]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] DROP CONSTRAINT [DF_GEN_ITEM_LOCATION_IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] DROP CONSTRAINT [DF_GEN_ITEM_LOCATION_Balance]
GO
ALTER TABLE [dbo].[GEN_ITEM_GENERALIZATION] DROP CONSTRAINT [DF_GEN_ITEM_GENERALIZATION_IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_CATEGORY] DROP CONSTRAINT [DF_GEN_ITEM_Category_IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_CATEGORY] DROP CONSTRAINT [DF_GEN_ITEM_Category_IsBlocked]
GO
ALTER TABLE [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] DROP CONSTRAINT [DF_GEN_ITEM_ALLOWED_TRANSACTION_IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_IsSellNotAllow]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_IsContainExpiryDate]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_IsWeight]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_IsSpecialOffer]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_WholesalePrice]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_Price]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_Item_Main_Price]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_DiscPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_FreePerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_WholesaleDiscPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_ConsumerDiscPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_WholesaleProfitPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_ConsumerProfitPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_Cost]
GO
ALTER TABLE [dbo].[GEN_ITEM] DROP CONSTRAINT [DF_GEN_ITEM_Item_Main_Cost]
GO
ALTER TABLE [dbo].[GEN_BRAND] DROP CONSTRAINT [DF_GEN_BRAND_IsActive]
GO
ALTER TABLE [dbo].[GEN_BRAND] DROP CONSTRAINT [DF_GEN_BRAND_IsBlocked]
GO
ALTER TABLE [dbo].[GEN_BANK] DROP CONSTRAINT [DF_GEN_BANK_IsActive]
GO
ALTER TABLE [dbo].[GEN_BANK] DROP CONSTRAINT [DF_GEN_BANK_IsBlocked]
GO
ALTER TABLE [dbo].[GEN_ASSISTANT_SUPPLIER] DROP CONSTRAINT [DF_GEN_ASSISTANT_SUPPLIER_IsActive]
GO
ALTER TABLE [dbo].[GEN_ASSISTANT_SUPPLIER] DROP CONSTRAINT [DF_GEN_ASSISTANT_SUPPLIER_IsBlocked]
GO
/****** Object:  Table [dbo].[PUR_PURCHASE_INV_DETAILS]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUR_PURCHASE_INV_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[PUR_PURCHASE_INV_DETAILS]
GO
/****** Object:  Table [dbo].[PUR_PURCHASE_INV]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUR_PURCHASE_INV]') AND type in (N'U'))
DROP TABLE [dbo].[PUR_PURCHASE_INV]
GO
/****** Object:  Table [dbo].[PUR_PROMOTION_LOCATION]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUR_PROMOTION_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[PUR_PROMOTION_LOCATION]
GO
/****** Object:  Table [dbo].[PUR_PROMOTION_DETAILS]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUR_PROMOTION_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[PUR_PROMOTION_DETAILS]
GO
/****** Object:  Table [dbo].[PUR_PROMOTION]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUR_PROMOTION]') AND type in (N'U'))
DROP TABLE [dbo].[PUR_PROMOTION]
GO
/****** Object:  Table [dbo].[LST_SUPPLIER_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_SUPPLIER_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[LST_SUPPLIER_TYPE]
GO
/****** Object:  Table [dbo].[LST_SUPPLIER_GROUP]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_SUPPLIER_GROUP]') AND type in (N'U'))
DROP TABLE [dbo].[LST_SUPPLIER_GROUP]
GO
/****** Object:  Table [dbo].[LST_SUPPLIER_DOCUMENT_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_SUPPLIER_DOCUMENT_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[LST_SUPPLIER_DOCUMENT_TYPE]
GO
/****** Object:  Table [dbo].[LST_REQUEST_TOKEN]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_REQUEST_TOKEN]') AND type in (N'U'))
DROP TABLE [dbo].[LST_REQUEST_TOKEN]
GO
/****** Object:  Table [dbo].[LST_PHONE_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_PHONE_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[LST_PHONE_TYPE]
GO
/****** Object:  Table [dbo].[LST_LOCATION_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_LOCATION_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[LST_LOCATION_TYPE]
GO
/****** Object:  Table [dbo].[LST_COUNTRY]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_COUNTRY]') AND type in (N'U'))
DROP TABLE [dbo].[LST_COUNTRY]
GO
/****** Object:  Table [dbo].[LST_CountriesCodes]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LST_CountriesCodes]') AND type in (N'U'))
DROP TABLE [dbo].[LST_CountriesCodes]
GO
/****** Object:  Table [dbo].[INV_RECEIPT_DETAILS]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INV_RECEIPT_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[INV_RECEIPT_DETAILS]
GO
/****** Object:  Table [dbo].[INV_RECEIPT]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INV_RECEIPT]') AND type in (N'U'))
DROP TABLE [dbo].[INV_RECEIPT]
GO
/****** Object:  Table [dbo].[GEN_UNIT]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_UNIT]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_UNIT]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_SUPPLIER_SECTOR_SPECIFY]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_SECTOR]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_SUPPLIER_SECTOR]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_SUPPLIER_SECTOR]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_PHONE]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_SUPPLIER_PHONE]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_SUPPLIER_PHONE]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_DOCUMENT]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_SUPPLIER_DOCUMENT]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_SUPPLIER_DOCUMENT]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_SUPPLIER]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_SUPPLIER]
GO
/****** Object:  Table [dbo].[GEN_LOCATION]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_LOCATION]
GO
/****** Object:  Table [dbo].[GEN_ITEM_UNIT]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_ITEM_UNIT]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_ITEM_UNIT]
GO
/****** Object:  Table [dbo].[GEN_ITEM_LOCATION]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_ITEM_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_ITEM_LOCATION]
GO
/****** Object:  Table [dbo].[GEN_ITEM_GENERALIZATION]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_ITEM_GENERALIZATION]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_ITEM_GENERALIZATION]
GO
/****** Object:  Table [dbo].[GEN_ITEM_CATEGORY]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_ITEM_CATEGORY]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_ITEM_CATEGORY]
GO
/****** Object:  Table [dbo].[GEN_ITEM_ALLOWED_TRANSACTION]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_ITEM_ALLOWED_TRANSACTION]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_ITEM_ALLOWED_TRANSACTION]
GO
/****** Object:  Table [dbo].[GEN_ITEM]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_ITEM]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_ITEM]
GO
/****** Object:  Table [dbo].[GEN_COMPANY_SETTINGS]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_COMPANY_SETTINGS]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_COMPANY_SETTINGS]
GO
/****** Object:  Table [dbo].[GEN_BRAND]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_BRAND]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_BRAND]
GO
/****** Object:  Table [dbo].[GEN_BANK]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_BANK]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_BANK]
GO
/****** Object:  Table [dbo].[GEN_ASSISTANT_SUPPLIER]    Script Date: 6/16/2023 10:21:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GEN_ASSISTANT_SUPPLIER]') AND type in (N'U'))
DROP TABLE [dbo].[GEN_ASSISTANT_SUPPLIER]
GO
/****** Object:  Table [dbo].[GEN_ASSISTANT_SUPPLIER]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_ASSISTANT_SUPPLIER](
	[AssistantSupId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](250) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_ASSISTANT_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[AssistantSupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_BANK]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_BANK](
	[BankId] [bigint] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Notes] [ntext] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_BANK] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_BRAND]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_BRAND](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Notes] [nvarchar](250) NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_BRAND] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_COMPANY_SETTINGS]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_COMPANY_SETTINGS](
	[SettingId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [nvarchar](50) NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_GEN_COMPANY_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_ITEM]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_ITEM](
	[ItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[Name] [nvarchar](150) NULL,
	[ShortName] [nvarchar](50) NULL,
	[EngName] [nvarchar](150) NULL,
	[ItemStatus] [nvarchar](50) NULL,
	[ItemReceiptType] [nvarchar](50) NULL,
	[ItemType] [nvarchar](50) NULL,
	[ItemTransactionType] [nvarchar](50) NULL,
	[CategoryId] [bigint] NULL,
	[BrandId] [int] NULL,
	[SupId] [bigint] NULL,
	[SupSectorId] [bigint] NULL,
	[CountryId] [bigint] NULL,
	[CommitteeNo] [int] NULL,
	[UnitId] [bigint] NULL,
	[Factor] [int] NULL,
	[MainCost] [decimal](18, 3) NOT NULL,
	[Cost] [decimal](18, 3) NOT NULL,
	[ConsumerProfitPerc] [decimal](18, 3) NOT NULL,
	[WholesaleProfitPerc] [decimal](18, 3) NOT NULL,
	[ConsumerDiscPerc] [decimal](18, 3) NOT NULL,
	[WholesaleDiscPerc] [decimal](18, 3) NOT NULL,
	[FreePerc] [decimal](18, 3) NOT NULL,
	[DiscPerc] [decimal](18, 3) NOT NULL,
	[MainPrice] [decimal](18, 3) NOT NULL,
	[Price] [decimal](18, 3) NOT NULL,
	[WholesalePrice] [decimal](18, 3) NOT NULL,
	[QtyMin] [int] NULL,
	[QtyMax] [int] NULL,
	[PackageWeight] [decimal](18, 3) NULL,
	[PackageUnit] [bigint] NULL,
	[IsSpecialOffer] [bit] NOT NULL,
	[OfferEndDate] [datetime2](7) NULL,
	[IsWeight] [bit] NOT NULL,
	[IsContainExpiryDate] [bit] NOT NULL,
	[IsSellNotAllow] [bit] NOT NULL,
	[Notes] [ntext] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
	[OldId] [nvarchar](10) NULL,
 CONSTRAINT [PK_GEN_ITEM] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_ITEM_ALLOWED_TRANSACTION]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_ITEM_ALLOWED_TRANSACTION](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NULL,
	[Transaction] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_GEN_ITEM_ALLOWED_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_ITEM_CATEGORY]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_ITEM_CATEGORY](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryParentId] [bigint] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ProfitPercentage] [decimal](18, 3) NOT NULL,
	[WholesalePercentage] [decimal](18, 3) NOT NULL,
	[FreePercentage] [decimal](18, 3) NOT NULL,
	[DiscountPercentage] [decimal](18, 3) NOT NULL,
	[Notes] [ntext] NOT NULL,
	[CanContainItems] [bit] NOT NULL,
	[Image] [ntext] NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_ITEM_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_ITEM_GENERALIZATION]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_ITEM_GENERALIZATION](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NULL,
	[GeneralizationYear] [int] NULL,
	[GeneralizationNo] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_ITEM_GENERALIZATION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_ITEM_LOCATION]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_ITEM_LOCATION](
	[ItemLocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NULL,
	[LocationId] [bigint] NULL,
	[Balance] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_GEN_ITEM_LOCATION] PRIMARY KEY CLUSTERED 
(
	[ItemLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_ITEM_UNIT]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_ITEM_UNIT](
	[ItemUnitId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NULL,
	[UnitId] [bigint] NULL,
	[Barcode] [nvarchar](100) NULL,
	[BarcodeType] [nvarchar](50) NULL,
	[Cost] [decimal](18, 3) NOT NULL,
	[SalePrice] [decimal](18, 3) NOT NULL,
	[Factor] [int] NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_GEN_ITEM_UNIT] PRIMARY KEY CLUSTERED 
(
	[ItemUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_LOCATION]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_LOCATION](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[LocationNumber] [nvarchar](50) NULL,
	[LocationTypeId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [ntext] NULL,
	[Notes] [ntext] NULL,
	[IsReadOnly] [bit] NULL,
	[IsBlocked] [bit] NOT NULL,
	[PurCode] [int] NULL,
	[DiscCode] [int] NULL,
	[FreeCode] [int] NULL,
	[SaleCode] [int] NULL,
	[ReturnCode] [int] NULL,
	[DamageCode] [int] NULL,
	[AsjustmentCode] [int] NULL,
	[ServiceCode] [int] NULL,
	[SaleCashCode] [int] NULL,
	[SaleVISACode] [int] NULL,
	[ACC_09] [int] NULL,
	[ACC_10] [int] NULL,
	[IsContainTecs] [bit] NULL,
	[Teccode] [int] NULL,
	[SalesReturnCode] [int] NULL,
	[PLocationID] [bigint] NULL,
	[IsDirectReceive] [bit] NULL,
	[PurCashCode] [int] NOT NULL,
	[IsDirectItemConnect] [bit] NOT NULL,
	[CustodyAccount] [int] NOT NULL,
	[CustodyControlAccount] [int] NOT NULL,
	[ZReadExtrasCode] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[SupClearanceStartDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_GEN_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_SUPPLIER](
	[SupId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupCode] [nvarchar](50) NULL,
	[SupRef] [nvarchar](10) NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[SupplierTypeId] [int] NULL,
	[SupplierGroupId] [int] NULL,
	[AssistantSupId] [bigint] NULL,
	[AssistantAccountNumber] [decimal](18, 0) NULL,
	[AssistantAccountName] [nvarchar](150) NULL,
	[AssistantStartDate] [date] NULL,
	[DiscountPercentage] [decimal](18, 3) NOT NULL,
	[FreePercentag] [decimal](18, 3) NOT NULL,
	[BankId] [bigint] NULL,
	[BankAccount] [nvarchar](50) NULL,
	[SupNODays] [int] NULL,
	[AccountCode] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[BOX] [nvarchar](50) NULL,
	[IsBlocked] [bit] NOT NULL,
	[LicenseId] [nvarchar](50) NULL,
	[LicenseDate] [date] NULL,
	[Notes] [ntext] NULL,
	[PurchaseOrderNotes] [ntext] NULL,
	[Image] [ntext] NULL,
	[IsAllowedPO] [bit] NOT NULL,
	[IsAllowedReceipt] [bit] NOT NULL,
	[IsAllowedDirectReturn] [bit] NOT NULL,
	[IsAllowedReturnDiscount] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
	[IsAllowCashingChecks] [bit] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[SupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_DOCUMENT]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_SUPPLIER_DOCUMENT](
	[DocumentId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupId] [bigint] NULL,
	[TypeId] [bigint] NULL,
	[DocName] [nvarchar](250) NULL,
	[DocTitle] [ntext] NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_SUPPLIER_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_PHONE]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_SUPPLIER_PHONE](
	[SupPhoneId] [int] IDENTITY(1,1) NOT NULL,
	[SupId] [bigint] NOT NULL,
	[PhoneTypeID] [int] NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[PersonName] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_SUPPLIER_PHONE] PRIMARY KEY CLUSTERED 
(
	[SupPhoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_SECTOR]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_SUPPLIER_SECTOR](
	[SupSectorId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupId] [bigint] NULL,
	[SupSectorName] [nvarchar](50) NULL,
	[Notes] [ntext] NULL,
	[FreePercentageMarkets] [decimal](10, 3) NOT NULL,
	[FreePercentageBranchs] [decimal](10, 3) NULL,
	[FreePercentageStores] [decimal](10, 3) NULL,
	[DiscountPercentageMarkets] [decimal](10, 3) NOT NULL,
	[DiscountPercentageBranchs] [decimal](10, 3) NULL,
	[DiscountPercentageStores] [decimal](10, 3) NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_SUPPLIER_SECTOR] PRIMARY KEY CLUSTERED 
(
	[SupSectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY](
	[SupSectorSpecifyId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupId] [bigint] NULL,
	[SupSectorId] [bigint] NULL,
	[BranchId] [bigint] NULL,
	[FreePercentage] [decimal](18, 3) NOT NULL,
	[DiscountPercentage] [decimal](18, 3) NOT NULL,
	[Notes] [ntext] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_SUPPLIER_SECTOR_SPECIFY] PRIMARY KEY CLUSTERED 
(
	[SupSectorSpecifyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN_UNIT]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN_UNIT](
	[UnitId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Notes] [nvarchar](250) NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_UNIT] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_RECEIPT]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_RECEIPT](
	[ReceiptId] [bigint] IDENTITY(1,1) NOT NULL,
	[InvType] [nvarchar](50) NULL,
	[ReceiptStatus] [nvarchar](50) NULL,
	[IsRecieveAll] [bit] NOT NULL,
	[InvNumber] [nvarchar](50) NULL,
	[ReceiptType] [nvarchar](50) NULL,
	[CustomFreeType] [nvarchar](50) NULL,
	[LocationId] [bigint] NULL,
	[PurchaseId] [bigint] NULL,
	[ReceiptDate] [datetime2](7) NULL,
	[SupId] [bigint] NULL,
	[SupInvoiceNum] [nvarchar](50) NULL,
	[SupInvoiceDate] [datetime2](7) NOT NULL,
	[InvoiceAmount] [decimal](18, 3) NULL,
	[AmountDifference] [decimal](18, 3) NULL,
	[Notes] [ntext] NULL,
	[SupplierNotes] [ntext] NULL,
	[SupplierPurchaseNotes] [ntext] NULL,
	[CoopDiscount] [decimal](18, 3) NOT NULL,
	[DiscountValue] [decimal](18, 3) NOT NULL,
	[FreePercentage] [decimal](18, 3) NULL,
	[FreeValue] [decimal](18, 3) NULL,
	[ConsumerDiscount] [decimal](18, 3) NULL,
	[CostNet] [decimal](18, 3) NULL,
	[TotalCost] [decimal](18, 3) NULL,
	[TotalPrice] [decimal](18, 3) NULL,
	[IsTransfer] [bit] NOT NULL,
	[TransferBy] [bigint] NULL,
	[TransferDate] [datetime2](7) NULL,
	[ISAccountTransfer] [bit] NOT NULL,
	[AccountTransferDate] [datetime2](7) NULL,
	[AccountEntryCode] [bigint] NULL,
	[AccountEntryCodeCustody] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_INV_RECEIVE] PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_RECEIPT_DETAILS]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_RECEIPT_DETAILS](
	[DetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NULL,
	[ItemName] [nvarchar](150) NULL,
	[ReceiptId] [bigint] NULL,
	[ItemCode] [nvarchar](10) NULL,
	[Barcode] [nvarchar](100) NULL,
	[ItemNotes] [ntext] NULL,
	[Factor] [int] NULL,
	[MainCost] [decimal](18, 3) NOT NULL,
	[Cost] [decimal](18, 3) NOT NULL,
	[MainPrice] [decimal](18, 3) NOT NULL,
	[Price] [money] NOT NULL,
	[MaxQty] [int] NOT NULL,
	[MinQty] [int] NOT NULL,
	[FreeQty] [int] NOT NULL,
	[CoopDiscount] [decimal](18, 3) NULL,
	[ConsumerDiscount] [decimal](18, 3) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_INV_RECEIPT_DETAILS] PRIMARY KEY CLUSTERED 
(
	[DetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_CountriesCodes]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_CountriesCodes](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[currency] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[isDefault] [tinyint] NOT NULL,
	[currencyId] [int] NOT NULL,
	[timeZoneName] [nvarchar](100) NULL,
	[timeZoneOffset] [nvarchar](100) NULL,
 CONSTRAINT [PK_LST_CountriesCodes] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_COUNTRY]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_COUNTRY](
	[CountryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_LST_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_LOCATION_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_LOCATION_TYPE](
	[LocationTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_LST_LOCATION_TYPE] PRIMARY KEY CLUSTERED 
(
	[LocationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_PHONE_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_PHONE_TYPE](
	[PhoneTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_GEN_PHONE_TYPE] PRIMARY KEY CLUSTERED 
(
	[PhoneTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_REQUEST_TOKEN]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_REQUEST_TOKEN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](100) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_TokensTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_SUPPLIER_DOCUMENT_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_SUPPLIER_DOCUMENT_TYPE](
	[TypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Notes] [ntext] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_LST_SUPPLIER_DOCUMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_SUPPLIER_GROUP]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_SUPPLIER_GROUP](
	[SupplierGroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ParentGroupId] [int] NULL,
	[Notes] [ntext] NULL,
	[IsBlocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_SupplierGroups] PRIMARY KEY CLUSTERED 
(
	[SupplierGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LST_SUPPLIER_TYPE]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LST_SUPPLIER_TYPE](
	[SupplierTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Notes] [ntext] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_SupplierTypes] PRIMARY KEY CLUSTERED 
(
	[SupplierTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUR_PROMOTION]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUR_PROMOTION](
	[PromotionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RefId] [nvarchar](100) NULL,
	[PromotionDate] [date] NULL,
	[PromotionStartDate] [datetime2](7) NULL,
	[PromotionEndDate] [datetime2](7) NULL,
	[IsStoped] [bit] NOT NULL,
	[StopedDate] [datetime2](7) NULL,
	[StopedBy] [bigint] NULL,
	[PromotionCategory] [nvarchar](100) NULL,
	[PromotionType] [nvarchar](100) NULL,
	[PromotionNature] [nvarchar](100) NULL,
	[PromotionPercentage] [decimal](18, 3) NOT NULL,
	[Notes] [ntext] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_PUR_PROMOTION] PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUR_PROMOTION_DETAILS]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUR_PROMOTION_DETAILS](
	[DetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[PromotionId] [bigint] NULL,
	[ItemId] [bigint] NULL,
	[ItemName] [nvarchar](150) NULL,
	[ItemCode] [nvarchar](150) NULL,
	[Barcode] [nvarchar](100) NULL,
	[UnitId] [int] NULL,
	[UnitName] [nvarchar](150) NULL,
	[Factor] [int] NULL,
	[MainCost] [decimal](18, 3) NOT NULL,
	[MainPrice] [decimal](18, 3) NOT NULL,
	[PromotionPrice] [decimal](18, 3) NOT NULL,
	[NetDeffirence] [decimal](18, 3) NOT NULL,
	[Qty] [decimal](18, 3) NOT NULL,
	[IsItemStoped] [bit] NOT NULL,
	[StoppedItemBy] [bigint] NULL,
	[StoppedItemDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_PUR_PROMOTION_DETAILS] PRIMARY KEY CLUSTERED 
(
	[DetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUR_PROMOTION_LOCATION]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUR_PROMOTION_LOCATION](
	[PromotionLocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[LocationId] [bigint] NULL,
	[PromotionId] [bigint] NULL,
 CONSTRAINT [PK_PUR_PROMOTION_LOCATION] PRIMARY KEY CLUSTERED 
(
	[PromotionLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUR_PURCHASE_INV]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUR_PURCHASE_INV](
	[PurchaseId] [bigint] IDENTITY(1,1) NOT NULL,
	[RefId] [bigint] NULL,
	[InvNumber] [nvarchar](50) NULL,
	[LocationId] [bigint] NULL,
	[SupId] [bigint] NULL,
	[OrderDate] [datetime2](7) NULL,
	[OrderRecieveDate] [datetime2](7) NULL,
	[Notes] [ntext] NULL,
	[SupplierNotes] [ntext] NULL,
	[SupplierPurchaseNotes] [ntext] NULL,
	[TotalCost] [decimal](18, 3) NULL,
	[TotalPrice] [decimal](18, 3) NULL,
	[CoopDiscount] [decimal](18, 3) NULL,
	[DiscountValue] [decimal](18, 3) NULL,
	[FreePercentage] [decimal](18, 3) NULL,
	[FreeValue] [decimal](18, 3) NULL,
	[ConsumerDiscount] [decimal](18, 3) NULL,
	[CostNet] [decimal](18, 3) NULL,
	[InvType] [nvarchar](50) NULL,
	[InvStatus] [nvarchar](50) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_PUR_PURCHASE_INV] PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUR_PURCHASE_INV_DETAILS]    Script Date: 6/16/2023 10:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUR_PURCHASE_INV_DETAILS](
	[DetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NULL,
	[ItemName] [nvarchar](150) NULL,
	[PurchaseId] [bigint] NULL,
	[ItemCode] [nvarchar](10) NULL,
	[Barcode] [nvarchar](100) NULL,
	[ItemNotes] [ntext] NULL,
	[Factor] [int] NULL,
	[MainCost] [decimal](18, 3) NOT NULL,
	[Cost] [decimal](18, 3) NOT NULL,
	[MainPrice] [decimal](18, 3) NOT NULL,
	[Price] [money] NOT NULL,
	[MaxQty] [int] NOT NULL,
	[MinQty] [int] NOT NULL,
	[FreeQty] [int] NOT NULL,
	[CoopDiscount] [decimal](18, 3) NULL,
	[ConsumerDiscount] [decimal](18, 3) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[CreateUserId] [bigint] NULL,
	[UpdateUserId] [bigint] NULL,
 CONSTRAINT [PK_PUR_PURCHASE_INV_DETAILS] PRIMARY KEY CLUSTERED 
(
	[DetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GEN_ASSISTANT_SUPPLIER] ON 

INSERT [dbo].[GEN_ASSISTANT_SUPPLIER] ([AssistantSupId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'محمد', N'', 1, 0, CAST(N'2023-03-12T18:46:46.1010536' AS DateTime2), CAST(N'2023-03-12T19:04:17.5361491' AS DateTime2), NULL, 0)
INSERT [dbo].[GEN_ASSISTANT_SUPPLIER] ([AssistantSupId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'محمود', N'لا يوجد', 0, 1, CAST(N'2023-03-12T19:04:37.6101807' AS DateTime2), CAST(N'2023-03-13T18:33:55.4225691' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_ASSISTANT_SUPPLIER] ([AssistantSupId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'test', N'', 0, 1, CAST(N'2023-05-24T17:03:59.7960210' AS DateTime2), CAST(N'2023-05-24T17:03:59.7960210' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[GEN_ASSISTANT_SUPPLIER] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_BANK] ON 

INSERT [dbo].[GEN_BANK] ([BankId], [BankName], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'بنك الشرق', N'لا يوجد ملاحظات', 0, 1, CAST(N'2023-03-15T01:39:19.4711492' AS DateTime2), CAST(N'2023-03-15T01:39:37.5555448' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_BANK] ([BankId], [BankName], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'بنك السوري الفرنسي', N'', 0, 1, CAST(N'2023-03-15T01:39:47.7472585' AS DateTime2), CAST(N'2023-03-15T01:39:47.7472585' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_BANK] ([BankId], [BankName], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'تي', N'', 0, 0, CAST(N'2023-03-15T01:39:55.6375929' AS DateTime2), CAST(N'2023-03-15T01:39:59.1847400' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[GEN_BANK] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_BRAND] ON 

INSERT [dbo].[GEN_BRAND] ([BrandId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'Kentaki -1', N'no comment', 1, 0, CAST(N'2023-04-01T02:13:21.9320647' AS DateTime2), CAST(N'2023-04-01T02:15:43.1455280' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_BRAND] ([BrandId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'Gutccie', N'no', 0, 1, CAST(N'2023-04-01T02:15:54.9356565' AS DateTime2), CAST(N'2023-04-01T02:16:42.1863115' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_BRAND] ([BrandId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'HP', N'', 0, 1, CAST(N'2023-04-01T02:16:23.2534059' AS DateTime2), CAST(N'2023-04-01T02:16:23.2534059' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[GEN_BRAND] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_COMPANY_SETTINGS] ON 

INSERT [dbo].[GEN_COMPANY_SETTINGS] ([SettingId], [Name], [Value], [Notes]) VALUES (1, N'com_name', N'Ishbelia CO.OP Association', NULL)
INSERT [dbo].[GEN_COMPANY_SETTINGS] ([SettingId], [Name], [Value], [Notes]) VALUES (2, N'com_address', N'الكويت', NULL)
INSERT [dbo].[GEN_COMPANY_SETTINGS] ([SettingId], [Name], [Value], [Notes]) VALUES (3, N'com_email', N'سس', NULL)
SET IDENTITY_INSERT [dbo].[GEN_COMPANY_SETTINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_ITEM] ON 

SET IDENTITY_INSERT [dbo].[GEN_ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] ON 

INSERT [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] ([Id], [ItemId], [Transaction], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (1, NULL, N'purchaseOrders', 1, 0, 0, CAST(N'2023-05-07T03:08:28.7180557' AS DateTime2), CAST(N'2023-05-07T03:08:28.7180557' AS DateTime2))
INSERT [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] ([Id], [ItemId], [Transaction], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (2, NULL, N'receipt', 1, 0, 0, CAST(N'2023-05-07T03:08:28.7193379' AS DateTime2), CAST(N'2023-05-07T03:08:28.7193379' AS DateTime2))
INSERT [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] ([Id], [ItemId], [Transaction], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (3, NULL, N'returns', 1, 0, 0, CAST(N'2023-05-07T03:08:28.7199835' AS DateTime2), CAST(N'2023-05-07T03:08:28.7199835' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_ITEM_CATEGORY] ON 

INSERT [dbo].[GEN_ITEM_CATEGORY] ([CategoryId], [CategoryParentId], [Name], [ProfitPercentage], [WholesalePercentage], [FreePercentage], [DiscountPercentage], [Notes], [CanContainItems], [Image], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, NULL, N'زيوت', CAST(9.000 AS Decimal(18, 3)), CAST(1.000 AS Decimal(18, 3)), CAST(2.000 AS Decimal(18, 3)), CAST(3.000 AS Decimal(18, 3)), N'', 1, NULL, 1, 1, CAST(N'2023-03-26T01:53:50.8367138' AS DateTime2), CAST(N'2023-05-29T01:03:25.7084408' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_ITEM_CATEGORY] ([CategoryId], [CategoryParentId], [Name], [ProfitPercentage], [WholesalePercentage], [FreePercentage], [DiscountPercentage], [Notes], [CanContainItems], [Image], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, NULL, N'عطور', CAST(2.000 AS Decimal(18, 3)), CAST(3.000 AS Decimal(18, 3)), CAST(3.000 AS Decimal(18, 3)), CAST(3.000 AS Decimal(18, 3)), N'', 1, NULL, 1, 1, CAST(N'2023-03-26T01:57:01.2828456' AS DateTime2), CAST(N'2023-03-26T01:57:01.2828456' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_ITEM_CATEGORY] ([CategoryId], [CategoryParentId], [Name], [ProfitPercentage], [WholesalePercentage], [FreePercentage], [DiscountPercentage], [Notes], [CanContainItems], [Image], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, 2, N'عطر فرنسي', CAST(1.000 AS Decimal(18, 3)), CAST(2.000 AS Decimal(18, 3)), CAST(3.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), N'', 1, NULL, 0, 1, CAST(N'2023-03-26T02:02:08.4330763' AS DateTime2), CAST(N'2023-03-26T02:47:17.2211636' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GEN_ITEM_CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_ITEM_GENERALIZATION] ON 

INSERT [dbo].[GEN_ITEM_GENERALIZATION] ([Id], [ItemId], [GeneralizationYear], [GeneralizationNo], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, 6, 1986, 12, 1, CAST(N'2023-05-04T22:43:05.8422136' AS DateTime2), CAST(N'2023-06-04T17:54:11.7731752' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_ITEM_GENERALIZATION] ([Id], [ItemId], [GeneralizationYear], [GeneralizationNo], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, 6, 2000, 10, 1, CAST(N'2023-05-04T22:43:05.8432110' AS DateTime2), CAST(N'2023-06-04T17:54:11.7761650' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_ITEM_GENERALIZATION] ([Id], [ItemId], [GeneralizationYear], [GeneralizationNo], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (8, 6, 1478, 10, 1, CAST(N'2023-05-12T16:28:23.6420900' AS DateTime2), CAST(N'2023-06-04T17:54:11.7771619' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GEN_ITEM_GENERALIZATION] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_ITEM_LOCATION] ON 

INSERT [dbo].[GEN_ITEM_LOCATION] ([ItemLocationId], [ItemId], [LocationId], [Balance], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (5, 6, 1, 29, 1, 0, NULL, CAST(N'2023-05-07T03:25:07.2811018' AS DateTime2), CAST(N'2023-06-10T21:37:03.8155128' AS DateTime2))
INSERT [dbo].[GEN_ITEM_LOCATION] ([ItemLocationId], [ItemId], [LocationId], [Balance], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (6, 6, 2, 3, 1, 0, 0, CAST(N'2023-05-07T03:25:07.2830971' AS DateTime2), CAST(N'2023-05-07T03:25:07.2830971' AS DateTime2))
INSERT [dbo].[GEN_ITEM_LOCATION] ([ItemLocationId], [ItemId], [LocationId], [Balance], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (7, 6, 3, 2, 1, 0, 0, CAST(N'2023-05-07T14:38:09.7812025' AS DateTime2), CAST(N'2023-05-07T14:38:09.7812025' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GEN_ITEM_LOCATION] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_ITEM_UNIT] ON 

INSERT [dbo].[GEN_ITEM_UNIT] ([ItemUnitId], [ItemId], [UnitId], [Barcode], [BarcodeType], [Cost], [SalePrice], [Factor], [IsBlocked], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (12, 6, 2, N'147852', N'external', CAST(33.000 AS Decimal(18, 3)), CAST(34.000 AS Decimal(18, 3)), 12, 0, 1, NULL, NULL, CAST(N'2023-05-16T01:00:01.1490164' AS DateTime2), CAST(N'2023-06-04T17:54:11.7402610' AS DateTime2))
INSERT [dbo].[GEN_ITEM_UNIT] ([ItemUnitId], [ItemId], [UnitId], [Barcode], [BarcodeType], [Cost], [SalePrice], [Factor], [IsBlocked], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (13, 7, 1, N'1000000100090007', N'internal', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), 1, 0, 1, 0, NULL, CAST(N'2023-05-17T17:25:27.0971540' AS DateTime2), CAST(N'2023-06-06T15:42:11.3800701' AS DateTime2))
INSERT [dbo].[GEN_ITEM_UNIT] ([ItemUnitId], [ItemId], [UnitId], [Barcode], [BarcodeType], [Cost], [SalePrice], [Factor], [IsBlocked], [IsActive], [CreateUserId], [UpdateUserId], [CreateDate], [UpdateDate]) VALUES (23, 7, 1, N'125478963', N'external', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), 1, 0, 1, 0, 0, CAST(N'2023-06-04T15:13:14.1961505' AS DateTime2), CAST(N'2023-06-06T15:42:11.3890457' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GEN_ITEM_UNIT] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_LOCATION] ON 

SET IDENTITY_INSERT [dbo].[GEN_LOCATION] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER] ON 

SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_DOCUMENT] ON 

INSERT [dbo].[GEN_SUPPLIER_DOCUMENT] ([DocumentId], [SupId], [TypeId], [DocName], [DocTitle], [StartDate], [EndDate], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, 8, 3, NULL, NULL, CAST(N'2023-03-31T00:00:00.0000000' AS DateTime2), CAST(N'2023-03-31T00:00:00.0000000' AS DateTime2), 1, CAST(N'2023-03-17T16:19:44.3071729' AS DateTime2), CAST(N'2023-03-17T22:25:57.7035443' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_SUPPLIER_DOCUMENT] ([DocumentId], [SupId], [TypeId], [DocName], [DocTitle], [StartDate], [EndDate], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, 9, 3, N'123033/18/2023 7:38:30 PM', N'123', CAST(N'2023-03-18T00:00:00.0000000' AS DateTime2), CAST(N'2023-03-31T00:00:00.0000000' AS DateTime2), 0, CAST(N'2023-03-18T19:38:35.2085515' AS DateTime2), CAST(N'2023-06-08T00:18:18.6177370' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_SUPPLIER_DOCUMENT] ([DocumentId], [SupId], [TypeId], [DocName], [DocTitle], [StartDate], [EndDate], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (4, 9, 3, N'2023-03-14_22-12-350320230321232302', N'2023-03-14_22-12-35', CAST(N'2023-03-31T00:00:00.0000000' AS DateTime2), CAST(N'2023-03-31T00:00:00.0000000' AS DateTime2), 0, CAST(N'2023-03-18T19:48:16.1258665' AS DateTime2), CAST(N'2023-06-08T00:18:18.6307023' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_DOCUMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_PHONE] ON 

INSERT [dbo].[GEN_SUPPLIER_PHONE] ([SupPhoneId], [SupId], [PhoneTypeID], [PhoneNumber], [PersonName], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (10, 8, 2, N'147852', N'147852', 1, CAST(N'2023-03-17T22:33:11.5557720' AS DateTime2), CAST(N'2023-03-17T22:33:11.5557720' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_SUPPLIER_PHONE] ([SupPhoneId], [SupId], [PhoneTypeID], [PhoneNumber], [PersonName], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1091, 13, 1, N'1478523', N'سس', 1, CAST(N'2023-05-24T14:38:04.1707980' AS DateTime2), CAST(N'2023-05-24T14:38:04.1707980' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_SUPPLIER_PHONE] ([SupPhoneId], [SupId], [PhoneTypeID], [PhoneNumber], [PersonName], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1096, 16, 1, N'25896', NULL, 1, CAST(N'2023-05-24T15:10:53.2002803' AS DateTime2), CAST(N'2023-05-24T15:10:53.2002803' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_PHONE] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_SECTOR] ON 

INSERT [dbo].[GEN_SUPPLIER_SECTOR] ([SupSectorId], [SupId], [SupSectorName], [Notes], [FreePercentageMarkets], [FreePercentageBranchs], [FreePercentageStores], [DiscountPercentageMarkets], [DiscountPercentageBranchs], [DiscountPercentageStores], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, 8, N'قطع 1', NULL, CAST(0.000 AS Decimal(10, 3)), NULL, NULL, CAST(0.000 AS Decimal(10, 3)), NULL, NULL, 0, 1, CAST(N'2023-03-17T22:33:11.5720937' AS DateTime2), CAST(N'2023-03-17T22:33:11.5720937' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_SUPPLIER_SECTOR] ([SupSectorId], [SupId], [SupSectorName], [Notes], [FreePercentageMarkets], [FreePercentageBranchs], [FreePercentageStores], [DiscountPercentageMarkets], [DiscountPercentageBranchs], [DiscountPercentageStores], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, 9, N'قطاع 3', NULL, CAST(2.000 AS Decimal(10, 3)), NULL, NULL, CAST(0.000 AS Decimal(10, 3)), NULL, NULL, 0, 1, CAST(N'2023-03-17T22:37:02.9911650' AS DateTime2), CAST(N'2023-06-08T00:18:18.4950655' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_SUPPLIER_SECTOR] ([SupSectorId], [SupId], [SupSectorName], [Notes], [FreePercentageMarkets], [FreePercentageBranchs], [FreePercentageStores], [DiscountPercentageMarkets], [DiscountPercentageBranchs], [DiscountPercentageStores], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, 9, N'قطاع 2', NULL, CAST(3.000 AS Decimal(10, 3)), NULL, NULL, CAST(0.000 AS Decimal(10, 3)), NULL, NULL, 0, 0, CAST(N'2023-03-18T01:14:43.9745330' AS DateTime2), CAST(N'2023-06-08T00:18:18.4720658' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_SECTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] ON 

INSERT [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] ([SupSectorSpecifyId], [SupId], [SupSectorId], [BranchId], [FreePercentage], [DiscountPercentage], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, 9, 3, 2, CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)), NULL, 0, CAST(N'2023-03-18T16:28:48.1994610' AS DateTime2), CAST(N'2023-06-08T00:18:18.5628840' AS DateTime2), NULL, NULL)
INSERT [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] ([SupSectorSpecifyId], [SupId], [SupSectorId], [BranchId], [FreePercentage], [DiscountPercentage], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (5, 9, 2, 1, CAST(2.000 AS Decimal(18, 3)), CAST(3.000 AS Decimal(18, 3)), NULL, 1, CAST(N'2023-03-18T17:08:47.8249434' AS DateTime2), CAST(N'2023-06-08T00:18:18.5798390' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] OFF
GO
SET IDENTITY_INSERT [dbo].[GEN_UNIT] ON 

INSERT [dbo].[GEN_UNIT] ([UnitId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'piece', N'', 0, 1, CAST(N'2023-04-22T23:15:43.4772249' AS DateTime2), CAST(N'2023-05-01T17:42:45.6897374' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_UNIT] ([UnitId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'packet', N'اللا', 0, 1, CAST(N'2023-04-22T23:16:39.0734487' AS DateTime2), CAST(N'2023-05-01T17:42:42.9597749' AS DateTime2), 0, 0)
INSERT [dbo].[GEN_UNIT] ([UnitId], [Name], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'cartoon', N'', 0, 1, CAST(N'2023-04-28T23:01:57.9182821' AS DateTime2), CAST(N'2023-05-01T17:42:40.0066038' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[GEN_UNIT] OFF
GO
SET IDENTITY_INSERT [dbo].[INV_RECEIPT] ON 

SET IDENTITY_INSERT [dbo].[INV_RECEIPT] OFF
GO
SET IDENTITY_INSERT [dbo].[INV_RECEIPT_DETAILS] ON 

SET IDENTITY_INSERT [dbo].[INV_RECEIPT_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_CountriesCodes] ON 

INSERT [dbo].[LST_CountriesCodes] ([countryId], [code], [currency], [name], [isDefault], [currencyId], [timeZoneName], [timeZoneOffset]) VALUES (1, N'+965', N'KWD', N'Kuwait', 1, 0, N'Arab Standard Time', NULL)
INSERT [dbo].[LST_CountriesCodes] ([countryId], [code], [currency], [name], [isDefault], [currencyId], [timeZoneName], [timeZoneOffset]) VALUES (2, N'+966', N'SAR', N'Saudi Arabia', 0, 1, N'Arab Standard Time', NULL)
INSERT [dbo].[LST_CountriesCodes] ([countryId], [code], [currency], [name], [isDefault], [currencyId], [timeZoneName], [timeZoneOffset]) VALUES (3, N'+968', N'OMR', N'Oman', 0, 2, N'Arabian Standard Time', NULL)
SET IDENTITY_INSERT [dbo].[LST_CountriesCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_COUNTRY] ON 

INSERT [dbo].[LST_COUNTRY] ([CountryId], [CountryName], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'الكويت', 1, CAST(N'2023-03-15T01:42:40.3205393' AS DateTime2), CAST(N'2023-03-15T01:42:40.3205393' AS DateTime2), 0, 0)
INSERT [dbo].[LST_COUNTRY] ([CountryId], [CountryName], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'سوريا', 1, CAST(N'2023-03-15T01:42:48.9705227' AS DateTime2), CAST(N'2023-03-15T01:42:48.9705227' AS DateTime2), 0, 0)
INSERT [dbo].[LST_COUNTRY] ([CountryId], [CountryName], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'يييس', 0, CAST(N'2023-03-15T01:42:56.9349836' AS DateTime2), CAST(N'2023-03-15T01:43:04.2778862' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[LST_COUNTRY] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_LOCATION_TYPE] ON 

INSERT [dbo].[LST_LOCATION_TYPE] ([LocationTypeId], [Name], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'سوق', 1, CAST(N'2023-05-05T16:32:49.1932255' AS DateTime2), CAST(N'2023-05-05T16:33:07.8892980' AS DateTime2), 0, 0)
INSERT [dbo].[LST_LOCATION_TYPE] ([LocationTypeId], [Name], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'مخزن', 1, CAST(N'2023-05-05T16:37:14.3374508' AS DateTime2), CAST(N'2023-05-05T16:37:14.3374508' AS DateTime2), 0, 0)
INSERT [dbo].[LST_LOCATION_TYPE] ([LocationTypeId], [Name], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'جملة', 1, CAST(N'2023-05-05T16:37:27.4277443' AS DateTime2), CAST(N'2023-05-05T16:37:27.4277443' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[LST_LOCATION_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_PHONE_TYPE] ON 

INSERT [dbo].[LST_PHONE_TYPE] ([PhoneTypeId], [Name], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'هاتف المكتب', 1, CAST(N'2023-03-14T02:27:45.0615006' AS DateTime2), CAST(N'2023-03-14T02:27:45.0615006' AS DateTime2), 0, 0)
INSERT [dbo].[LST_PHONE_TYPE] ([PhoneTypeId], [Name], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'هاتف المنزل', 1, CAST(N'2023-03-14T02:27:58.9776718' AS DateTime2), CAST(N'2023-03-14T02:28:04.1853615' AS DateTime2), 0, 0)
INSERT [dbo].[LST_PHONE_TYPE] ([PhoneTypeId], [Name], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'هاتف شخصي', 0, CAST(N'2023-03-14T02:36:56.0287224' AS DateTime2), CAST(N'2023-03-14T02:37:10.1575568' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[LST_PHONE_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_REQUEST_TOKEN] ON 

INSERT [dbo].[LST_REQUEST_TOKEN] ([ID], [Token], [CreateDate]) VALUES (1, N'kk', CAST(N'2023-03-11T21:56:38.9146422' AS DateTime2))
INSERT [dbo].[LST_REQUEST_TOKEN] ([ID], [Token], [CreateDate]) VALUES (2, N'1332390954872017680', CAST(N'2023-03-21T23:58:34.5080646' AS DateTime2))
INSERT [dbo].[LST_REQUEST_TOKEN] ([ID], [Token], [CreateDate]) VALUES (3, N'1332390958361226420', CAST(N'2023-03-21T23:58:35.3740960' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[LST_REQUEST_TOKEN] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] ON 

INSERT [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] ([TypeId], [Name], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'عقد إيجار', N'سسس', 1, CAST(N'2023-03-16T20:25:39.9985698' AS DateTime2), CAST(N'2023-03-16T20:25:39.9985698' AS DateTime2), 0, 0)
INSERT [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] ([TypeId], [Name], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'jdsj', N'wwwww', 0, CAST(N'2023-03-16T20:25:56.8631891' AS DateTime2), CAST(N'2023-03-16T20:26:04.9005530' AS DateTime2), 0, 0)
INSERT [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] ([TypeId], [Name], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'جواز سفر', N'', 1, CAST(N'2023-03-16T20:26:19.5643948' AS DateTime2), CAST(N'2023-03-16T20:26:19.5643948' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_SUPPLIER_GROUP] ON 

INSERT [dbo].[LST_SUPPLIER_GROUP] ([SupplierGroupId], [Name], [ParentGroupId], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'مجموعة-1', NULL, N'لا يوجد', 0, 1, CAST(N'2023-03-11T22:59:14.7538153' AS DateTime2), CAST(N'2023-03-11T22:59:14.7538153' AS DateTime2), NULL, NULL)
INSERT [dbo].[LST_SUPPLIER_GROUP] ([SupplierGroupId], [Name], [ParentGroupId], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (4, N'مجموعة 3', NULL, N'', 1, 1, CAST(N'2023-03-11T23:06:32.9255545' AS DateTime2), CAST(N'2023-03-11T23:30:02.6735160' AS DateTime2), NULL, 0)
INSERT [dbo].[LST_SUPPLIER_GROUP] ([SupplierGroupId], [Name], [ParentGroupId], [Notes], [IsBlocked], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (6, N'مجموعة-2', 4, N'', 0, 1, CAST(N'2023-05-12T14:37:57.7000705' AS DateTime2), CAST(N'2023-05-12T21:44:01.1364714' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[LST_SUPPLIER_GROUP] OFF
GO
SET IDENTITY_INSERT [dbo].[LST_SUPPLIER_TYPE] ON 

INSERT [dbo].[LST_SUPPLIER_TYPE] ([SupplierTypeId], [Name], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (1, N'مورد مؤقت', N'', 1, CAST(N'2023-03-12T00:30:54.0565480' AS DateTime2), CAST(N'2023-03-13T17:53:53.2196698' AS DateTime2), NULL, NULL)
INSERT [dbo].[LST_SUPPLIER_TYPE] ([SupplierTypeId], [Name], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (2, N'مورد خضار', N'لا يوجد', 1, CAST(N'2023-03-12T00:34:08.6232293' AS DateTime2), CAST(N'2023-03-12T00:34:31.2055870' AS DateTime2), NULL, NULL)
INSERT [dbo].[LST_SUPPLIER_TYPE] ([SupplierTypeId], [Name], [Notes], [IsActive], [CreateDate], [UpdateDate], [CreateUserId], [UpdateUserId]) VALUES (3, N'مورد مستمر', N'ب', 1, CAST(N'2023-03-13T17:53:27.2850726' AS DateTime2), CAST(N'2023-05-24T15:19:54.1098254' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[LST_SUPPLIER_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[PUR_PROMOTION] ON 

SET IDENTITY_INSERT [dbo].[PUR_PROMOTION] OFF
GO
SET IDENTITY_INSERT [dbo].[PUR_PROMOTION_DETAILS] ON 

SET IDENTITY_INSERT [dbo].[PUR_PROMOTION_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[PUR_PROMOTION_LOCATION] ON 

INSERT [dbo].[PUR_PROMOTION_LOCATION] ([PromotionLocationId], [LocationId], [PromotionId]) VALUES (12, 1, 2)
SET IDENTITY_INSERT [dbo].[PUR_PROMOTION_LOCATION] OFF
GO
ALTER TABLE [dbo].[GEN_ASSISTANT_SUPPLIER] ADD  CONSTRAINT [DF_GEN_ASSISTANT_SUPPLIER_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_ASSISTANT_SUPPLIER] ADD  CONSTRAINT [DF_GEN_ASSISTANT_SUPPLIER_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_BANK] ADD  CONSTRAINT [DF_GEN_BANK_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_BANK] ADD  CONSTRAINT [DF_GEN_BANK_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_BRAND] ADD  CONSTRAINT [DF_GEN_BRAND_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_BRAND] ADD  CONSTRAINT [DF_GEN_BRAND_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_Item_Main_Cost]  DEFAULT ((0)) FOR [MainCost]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_Cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_ConsumerProfitPerc]  DEFAULT ((0)) FOR [ConsumerProfitPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_WholesaleProfitPerc]  DEFAULT ((0)) FOR [WholesaleProfitPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_ConsumerDiscPerc]  DEFAULT ((0)) FOR [ConsumerDiscPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_WholesaleDiscPerc]  DEFAULT ((0)) FOR [WholesaleDiscPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_FreePerc]  DEFAULT ((0)) FOR [FreePerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_DiscPerc]  DEFAULT ((0)) FOR [DiscPerc]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_Item_Main_Price]  DEFAULT ((0)) FOR [MainPrice]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_WholesalePrice]  DEFAULT ((0)) FOR [WholesalePrice]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_IsSpecialOffer]  DEFAULT ((0)) FOR [IsSpecialOffer]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_IsWeight]  DEFAULT ((0)) FOR [IsWeight]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_IsContainExpiryDate]  DEFAULT ((0)) FOR [IsContainExpiryDate]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_IsSellNotAllow]  DEFAULT ((0)) FOR [IsSellNotAllow]
GO
ALTER TABLE [dbo].[GEN_ITEM] ADD  CONSTRAINT [DF_GEN_ITEM_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] ADD  CONSTRAINT [DF_GEN_ITEM_ALLOWED_TRANSACTION_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_CATEGORY] ADD  CONSTRAINT [DF_GEN_ITEM_Category_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_ITEM_CATEGORY] ADD  CONSTRAINT [DF_GEN_ITEM_Category_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_GENERALIZATION] ADD  CONSTRAINT [DF_GEN_ITEM_GENERALIZATION_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] ADD  CONSTRAINT [DF_GEN_ITEM_LOCATION_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] ADD  CONSTRAINT [DF_GEN_ITEM_LOCATION_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] ADD  CONSTRAINT [DF_GEN_ITEM_UNIT_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] ADD  CONSTRAINT [DF_GEN_ITEM_UNIT_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_LOCATION] ADD  CONSTRAINT [DF_GEN_LOCATION_PurCashCode]  DEFAULT ((0)) FOR [PurCashCode]
GO
ALTER TABLE [dbo].[GEN_LOCATION] ADD  CONSTRAINT [DF_GEN_LOCATION_IsDirectItemConnect]  DEFAULT ((0)) FOR [IsDirectItemConnect]
GO
ALTER TABLE [dbo].[GEN_LOCATION] ADD  CONSTRAINT [DF_GEN_LOCATION_Custody_Account]  DEFAULT ((0)) FOR [CustodyAccount]
GO
ALTER TABLE [dbo].[GEN_LOCATION] ADD  CONSTRAINT [DF_GEN_LOCATION_CustodyControlAccount]  DEFAULT ((0)) FOR [CustodyControlAccount]
GO
ALTER TABLE [dbo].[GEN_LOCATION] ADD  CONSTRAINT [DF_GEN_LOCATION_ZReadExtrasCode]  DEFAULT ((0)) FOR [ZReadExtrasCode]
GO
ALTER TABLE [dbo].[GEN_LOCATION] ADD  CONSTRAINT [DF_GEN_LOCATION_DisplayOrder]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[GEN_LOCATION] ADD  CONSTRAINT [DF_GEN_LOCATION_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] ADD  CONSTRAINT [DF_GEN_SUPPLIER_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] ADD  CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedPO]  DEFAULT ((1)) FOR [IsAllowedPO]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] ADD  CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedReceipt]  DEFAULT ((1)) FOR [IsAllowedReceipt]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] ADD  CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedReturn]  DEFAULT ((1)) FOR [IsAllowedDirectReturn]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] ADD  CONSTRAINT [DF_GEN_SUPPLIER_IsAllowedReturnDiscount]  DEFAULT ((1)) FOR [IsAllowedReturnDiscount]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] ADD  CONSTRAINT [DF_GEN_SUPPLIER_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] ADD  CONSTRAINT [DF_GEN_SUPPLIER_IsAllowCashingChecks]  DEFAULT ((1)) FOR [IsAllowCashingChecks]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT] ADD  CONSTRAINT [DF_GEN_SUPPLIER_DOCUMENT_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE] ADD  CONSTRAINT [DF_GEN_SUPPLIER_PHONE_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR] ADD  CONSTRAINT [DF_GEN_SUPPLIER_SECTOR_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR] ADD  CONSTRAINT [DF_GEN_SUPPLIER_SECTOR_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] ADD  CONSTRAINT [DF_GEN_SUPPLIER_SECTOR_SPECIFY_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_UNIT] ADD  CONSTRAINT [DF_GEN_UNIT_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[GEN_UNIT] ADD  CONSTRAINT [DF_GEN_UNIT_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[INV_RECEIPT] ADD  CONSTRAINT [DF_INV_RECEIVE_IsRecieveAll]  DEFAULT ((1)) FOR [IsRecieveAll]
GO
ALTER TABLE [dbo].[INV_RECEIPT] ADD  CONSTRAINT [DF_INV_RECEIVE_IsTransfer]  DEFAULT ((0)) FOR [IsTransfer]
GO
ALTER TABLE [dbo].[INV_RECEIPT] ADD  CONSTRAINT [DF_INV_RECEIVE_ISAccountTransfer]  DEFAULT ((0)) FOR [ISAccountTransfer]
GO
ALTER TABLE [dbo].[INV_RECEIPT] ADD  CONSTRAINT [DF_INV_RECEIVE_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] ADD  CONSTRAINT [DF_INV_RECEIPT_DETAILS_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LST_CountriesCodes] ADD  CONSTRAINT [DF_LST_CountriesCodes_isDefault]  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[LST_CountriesCodes] ADD  CONSTRAINT [DF_LST_CountriesCodes_currencyId]  DEFAULT ((0)) FOR [currencyId]
GO
ALTER TABLE [dbo].[LST_COUNTRY] ADD  CONSTRAINT [DF_LST_COUNTRY_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LST_LOCATION_TYPE] ADD  CONSTRAINT [DF_LST_LOCATION_TYPE_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] ADD  CONSTRAINT [DF_LST_SUPPLIER_DOCUMENT_TYPE_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_GROUP] ADD  CONSTRAINT [DF_SupplierGroups_Stopped]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_GROUP] ADD  CONSTRAINT [DF_SupplierGroups_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_TYPE] ADD  CONSTRAINT [DF_SupplierTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PUR_PROMOTION] ADD  CONSTRAINT [DF_PUR_PROMOTION_IsStoped]  DEFAULT ((0)) FOR [IsStoped]
GO
ALTER TABLE [dbo].[PUR_PROMOTION] ADD  CONSTRAINT [DF_PUR_PROMOTION_PromotionPercentage]  DEFAULT ((0)) FOR [PromotionPercentage]
GO
ALTER TABLE [dbo].[PUR_PROMOTION] ADD  CONSTRAINT [DF_PUR_PROMOTION_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] ADD  CONSTRAINT [DF_PUR_PROMOTION_DETAILS_IsItemStoped]  DEFAULT ((0)) FOR [IsItemStoped]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] ADD  CONSTRAINT [DF_PUR_PROMOTION_DETAILS_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] ADD  CONSTRAINT [DF_PUR_PURCHASE_INV_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] ADD  CONSTRAINT [DF_PUR_PURCHASE_INV_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] ADD  CONSTRAINT [DF_PUR_PURCHASE_INV_DETAILS_Main_Cost]  DEFAULT ((0)) FOR [MainCost]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] ADD  CONSTRAINT [DF_PUR_PURCHASE_INV_DETAILS_Main_Price]  DEFAULT ((0)) FOR [MainPrice]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] ADD  CONSTRAINT [DF_PUR_PURCHASE_INV_DETAILS_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GEN_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_GEN_BRAND] FOREIGN KEY([BrandId])
REFERENCES [dbo].[GEN_BRAND] ([BrandId])
GO
ALTER TABLE [dbo].[GEN_ITEM] CHECK CONSTRAINT [FK_GEN_ITEM_GEN_BRAND]
GO
ALTER TABLE [dbo].[GEN_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_GEN_ITEM_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[GEN_ITEM_CATEGORY] ([CategoryId])
GO
ALTER TABLE [dbo].[GEN_ITEM] CHECK CONSTRAINT [FK_GEN_ITEM_GEN_ITEM_Category]
GO
ALTER TABLE [dbo].[GEN_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_GEN_SUPPLIER] FOREIGN KEY([SupId])
REFERENCES [dbo].[GEN_SUPPLIER] ([SupId])
GO
ALTER TABLE [dbo].[GEN_ITEM] CHECK CONSTRAINT [FK_GEN_ITEM_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_LST_COUNTRY] FOREIGN KEY([CountryId])
REFERENCES [dbo].[LST_COUNTRY] ([CountryId])
GO
ALTER TABLE [dbo].[GEN_ITEM] CHECK CONSTRAINT [FK_GEN_ITEM_LST_COUNTRY]
GO
ALTER TABLE [dbo].[GEN_ITEM_ALLOWED_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_ALLOWED_TRANSACTION_GEN_ITEM] FOREIGN KEY([ItemId])
REFERENCES [dbo].[GEN_ITEM] ([ItemId])
GO
ALTER TABLE [dbo].[GEN_ITEM_ALLOWED_TRANSACTION] CHECK CONSTRAINT [FK_GEN_ITEM_ALLOWED_TRANSACTION_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_Category_GEN_ITEM_Category] FOREIGN KEY([CategoryParentId])
REFERENCES [dbo].[GEN_ITEM_CATEGORY] ([CategoryId])
GO
ALTER TABLE [dbo].[GEN_ITEM_CATEGORY] CHECK CONSTRAINT [FK_GEN_ITEM_Category_GEN_ITEM_Category]
GO
ALTER TABLE [dbo].[GEN_ITEM_GENERALIZATION]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_GENERALIZATION_GEN_ITEM] FOREIGN KEY([ItemId])
REFERENCES [dbo].[GEN_ITEM] ([ItemId])
GO
ALTER TABLE [dbo].[GEN_ITEM_GENERALIZATION] CHECK CONSTRAINT [FK_GEN_ITEM_GENERALIZATION_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_LOCATION_GEN_ITEM] FOREIGN KEY([ItemId])
REFERENCES [dbo].[GEN_ITEM] ([ItemId])
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] CHECK CONSTRAINT [FK_GEN_ITEM_LOCATION_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_LOCATION_GEN_LOCATION] FOREIGN KEY([LocationId])
REFERENCES [dbo].[GEN_LOCATION] ([LocationId])
GO
ALTER TABLE [dbo].[GEN_ITEM_LOCATION] CHECK CONSTRAINT [FK_GEN_ITEM_LOCATION_GEN_LOCATION]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_UNIT_GEN_ITEM] FOREIGN KEY([ItemId])
REFERENCES [dbo].[GEN_ITEM] ([ItemId])
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] CHECK CONSTRAINT [FK_GEN_ITEM_UNIT_GEN_ITEM]
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_GEN_ITEM_UNIT_GEN_UNIT] FOREIGN KEY([UnitId])
REFERENCES [dbo].[GEN_UNIT] ([UnitId])
GO
ALTER TABLE [dbo].[GEN_ITEM_UNIT] CHECK CONSTRAINT [FK_GEN_ITEM_UNIT_GEN_UNIT]
GO
ALTER TABLE [dbo].[GEN_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_GEN_LOCATION_LST_LOCATION_TYPE] FOREIGN KEY([LocationTypeId])
REFERENCES [dbo].[LST_LOCATION_TYPE] ([LocationTypeId])
GO
ALTER TABLE [dbo].[GEN_LOCATION] CHECK CONSTRAINT [FK_GEN_LOCATION_LST_LOCATION_TYPE]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_GEN_ASSISTANT_SUPPLIER] FOREIGN KEY([AssistantSupId])
REFERENCES [dbo].[GEN_ASSISTANT_SUPPLIER] ([AssistantSupId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] CHECK CONSTRAINT [FK_GEN_SUPPLIER_GEN_ASSISTANT_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_GEN_BANK] FOREIGN KEY([BankId])
REFERENCES [dbo].[GEN_BANK] ([BankId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] CHECK CONSTRAINT [FK_GEN_SUPPLIER_GEN_BANK]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_LST_SUPPLIER_GROUP] FOREIGN KEY([SupplierGroupId])
REFERENCES [dbo].[LST_SUPPLIER_GROUP] ([SupplierGroupId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] CHECK CONSTRAINT [FK_GEN_SUPPLIER_LST_SUPPLIER_GROUP]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_LST_SUPPLIER_TYPE] FOREIGN KEY([SupplierTypeId])
REFERENCES [dbo].[LST_SUPPLIER_TYPE] ([SupplierTypeId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER] CHECK CONSTRAINT [FK_GEN_SUPPLIER_LST_SUPPLIER_TYPE]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_DOCUMENT_GEN_SUPPLIER] FOREIGN KEY([SupId])
REFERENCES [dbo].[GEN_SUPPLIER] ([SupId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT] CHECK CONSTRAINT [FK_GEN_SUPPLIER_DOCUMENT_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_DOCUMENT_LST_SUPPLIER_DOCUMENT_TYPE] FOREIGN KEY([TypeId])
REFERENCES [dbo].[LST_SUPPLIER_DOCUMENT_TYPE] ([TypeId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_DOCUMENT] CHECK CONSTRAINT [FK_GEN_SUPPLIER_DOCUMENT_LST_SUPPLIER_DOCUMENT_TYPE]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_PHONE_GEN_SUPPLIER] FOREIGN KEY([SupId])
REFERENCES [dbo].[GEN_SUPPLIER] ([SupId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE] CHECK CONSTRAINT [FK_GEN_SUPPLIER_PHONE_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_PHONE_LST_PHONE_TYPE] FOREIGN KEY([PhoneTypeID])
REFERENCES [dbo].[LST_PHONE_TYPE] ([PhoneTypeId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_PHONE] CHECK CONSTRAINT [FK_GEN_SUPPLIER_PHONE_LST_PHONE_TYPE]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_GEN_SUPPLIER] FOREIGN KEY([SupId])
REFERENCES [dbo].[GEN_SUPPLIER] ([SupId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR] CHECK CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_SPECIFY_GEN_SUPPLIER] FOREIGN KEY([SupId])
REFERENCES [dbo].[GEN_SUPPLIER] ([SupId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] CHECK CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_SPECIFY_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY]  WITH CHECK ADD  CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_SPECIFY_GEN_SUPPLIER_SECTOR] FOREIGN KEY([SupSectorId])
REFERENCES [dbo].[GEN_SUPPLIER_SECTOR] ([SupSectorId])
GO
ALTER TABLE [dbo].[GEN_SUPPLIER_SECTOR_SPECIFY] CHECK CONSTRAINT [FK_GEN_SUPPLIER_SECTOR_SPECIFY_GEN_SUPPLIER_SECTOR]
GO
ALTER TABLE [dbo].[INV_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_INV_RECEIPT_GEN_LOCATION] FOREIGN KEY([LocationId])
REFERENCES [dbo].[GEN_LOCATION] ([LocationId])
GO
ALTER TABLE [dbo].[INV_RECEIPT] CHECK CONSTRAINT [FK_INV_RECEIPT_GEN_LOCATION]
GO
ALTER TABLE [dbo].[INV_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_INV_RECEIPT_GEN_SUPPLIER] FOREIGN KEY([SupId])
REFERENCES [dbo].[GEN_SUPPLIER] ([SupId])
GO
ALTER TABLE [dbo].[INV_RECEIPT] CHECK CONSTRAINT [FK_INV_RECEIPT_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[INV_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_INV_RECEIPT_PUR_PURCHASE_INV] FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[PUR_PURCHASE_INV] ([PurchaseId])
GO
ALTER TABLE [dbo].[INV_RECEIPT] CHECK CONSTRAINT [FK_INV_RECEIPT_PUR_PURCHASE_INV]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INV_RECEIPT_DETAILS_GEN_ITEM] FOREIGN KEY([ItemId])
REFERENCES [dbo].[GEN_ITEM] ([ItemId])
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] CHECK CONSTRAINT [FK_INV_RECEIPT_DETAILS_GEN_ITEM]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INV_RECEIPT_DETAILS_INV_RECEIPT] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[INV_RECEIPT] ([ReceiptId])
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] CHECK CONSTRAINT [FK_INV_RECEIPT_DETAILS_INV_RECEIPT]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INV_RECEIPT_DETAILS_INV_RECEIPT1] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[INV_RECEIPT] ([ReceiptId])
GO
ALTER TABLE [dbo].[INV_RECEIPT_DETAILS] CHECK CONSTRAINT [FK_INV_RECEIPT_DETAILS_INV_RECEIPT1]
GO
ALTER TABLE [dbo].[LST_SUPPLIER_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_LST_SUPPLIER_GROUP_LST_SUPPLIER_GROUP] FOREIGN KEY([ParentGroupId])
REFERENCES [dbo].[LST_SUPPLIER_GROUP] ([SupplierGroupId])
GO
ALTER TABLE [dbo].[LST_SUPPLIER_GROUP] CHECK CONSTRAINT [FK_LST_SUPPLIER_GROUP_LST_SUPPLIER_GROUP]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PROMOTION_DETAILS_GEN_ITEM] FOREIGN KEY([ItemId])
REFERENCES [dbo].[GEN_ITEM] ([ItemId])
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] CHECK CONSTRAINT [FK_PUR_PROMOTION_DETAILS_GEN_ITEM]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PROMOTION_DETAILS_PUR_PROMOTION] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[PUR_PROMOTION] ([PromotionId])
GO
ALTER TABLE [dbo].[PUR_PROMOTION_DETAILS] CHECK CONSTRAINT [FK_PUR_PROMOTION_DETAILS_PUR_PROMOTION]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PROMOTION_LOCATION_GEN_LOCATION] FOREIGN KEY([LocationId])
REFERENCES [dbo].[GEN_LOCATION] ([LocationId])
GO
ALTER TABLE [dbo].[PUR_PROMOTION_LOCATION] CHECK CONSTRAINT [FK_PUR_PROMOTION_LOCATION_GEN_LOCATION]
GO
ALTER TABLE [dbo].[PUR_PROMOTION_LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PROMOTION_LOCATION_PUR_PROMOTION] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[PUR_PROMOTION] ([PromotionId])
GO
ALTER TABLE [dbo].[PUR_PROMOTION_LOCATION] CHECK CONSTRAINT [FK_PUR_PROMOTION_LOCATION_PUR_PROMOTION]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PURCHASE_INV_GEN_LOCATION] FOREIGN KEY([LocationId])
REFERENCES [dbo].[GEN_LOCATION] ([LocationId])
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] CHECK CONSTRAINT [FK_PUR_PURCHASE_INV_GEN_LOCATION]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PURCHASE_INV_GEN_SUPPLIER] FOREIGN KEY([SupId])
REFERENCES [dbo].[GEN_SUPPLIER] ([SupId])
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] CHECK CONSTRAINT [FK_PUR_PURCHASE_INV_GEN_SUPPLIER]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PURCHASE_INV_PUR_PURCHASE_INV] FOREIGN KEY([RefId])
REFERENCES [dbo].[PUR_PURCHASE_INV] ([PurchaseId])
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV] CHECK CONSTRAINT [FK_PUR_PURCHASE_INV_PUR_PURCHASE_INV]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PURCHASE_INV_DETAILS_GEN_ITEM] FOREIGN KEY([ItemId])
REFERENCES [dbo].[GEN_ITEM] ([ItemId])
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] CHECK CONSTRAINT [FK_PUR_PURCHASE_INV_DETAILS_GEN_ITEM]
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_PUR_PURCHASE_INV_DETAILS_PUR_PURCHASE_INV] FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[PUR_PURCHASE_INV] ([PurchaseId])
GO
ALTER TABLE [dbo].[PUR_PURCHASE_INV_DETAILS] CHECK CONSTRAINT [FK_PUR_PURCHASE_INV_DETAILS_PUR_PURCHASE_INV]
GO
